<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-smsReader" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>SMSReader</name><js-module name="SMSReader" src="www/SMSReader.js"><clobbers target="cordova.plugins.SMSReader" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="SMSReader"><param name="android-package" value="cordova-plugin-smsReader.SMSReader" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/SMSReader.java" target-dir="src/cordova-plugin-smsReader/SMSReader" /></platform></plugin>